@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #f8fafc; 
  --border-color: #212121;
  --border-hover-color: #6d6969;
  --font-color: #212121;
  --font-color-gray: #616161;
}

@layer base {

  body {
    background-color: var(--theme-color);
  }
  
  a {
    text-decoration: none;
    font-style: normal;
  }

}
