@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .home-banner{

        @apply h-[500px] overflow-hidden;

        video{
            @apply absolute top-0 left-0 h-full w-full z-[1] object-cover;
        }

        .banner-box{

            @apply relative flex h-full z-[999] top-[20%] sm:top-[25%] md:top-[20%];

            .inner-content{

                @apply w-[80%];
                
                h1{
                    @apply text-[26px] sm:text-[36px] md:text-[50px] lg:text-[60px] xl:text-[70px] font-[400] text-[var(--primary-white)];

                    span {
                        @apply text-[var(--primary-blue)]
                    }
                }
    
                p {
                    @apply text-white;
                }

            }

        }

    }

    .info-box{

        @apply flex items-center p-[30px] md:p-[80px] relative bg-gray-200 min-h-[200px] h-[430px] md:h-[630px];

        @apply lg:bg-[url('/assets/home/info-banner.png')];

        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -100px;
        z-index: 99999;

        border-radius: 25px;

        .box{

            @apply w-full lg:w-[50%];

            h2{
                color: var(--primary-gray);
            }
    
            h1{
                color: var(--primary-dark-blue);
            }

            p{
                @apply mb-5;
            }

        }


    }

    .brand-metrics{

        @apply flex justify-center items-center py-16;

        .box{
            
            @apply w-full;

            h1{
                @apply text-center mt-4 mb-4;
                color: var(--primary-dark-blue);
            }

            .list{

                @apply lg:flex justify-between p-2;

                li{

                    @apply w-[50%] md:w-[33.33%] lg:w-[16.66%] float-left;

                    .dots{
                        
                        @apply text-center;
                        
                        .imagethmb_inner{
                            @apply h-[130px] text-center;
                        }
                        
                        span{
                            @apply font-raleway text-[16px] text-[var(--text-black)]
                        }

                    }


                }


            }

        }

    }

    .solutions{

        @apply w-full py-16;

        .solutions-list{

            @apply lg:flex p-0 m-0 overflow-hidden justify-between;

            li{
                
                @apply w-[100%] lg:w-[32.33%] p-0 mb-4 lg:mb-0;

                .box{

                    @apply rounded-lg p-8 lg:pb-16;

                    h2{
                        @apply text-[var(--primary-white)] text-[50px] lg:text-[46px] lg:mt-10 mb-4;
                    }

                    p {
                        @apply text-[var(--primary-white)] mb-10 lg:min-h-20;
                    }

                }

            }
        }

    }

    .targeting{

        @apply py-16;

        h1{
            @apply text-[var(--primary-dark-blue)] text-center;
        }

        .sub-header{
            @apply 
                inline-block
                py-3
                px-6
                rounded-[20px]
                text-[var(--text-black)] 
                text-[22px] text-center 
                text-[var(--primary-dark-blue)] 
                bg-[var(--light-background)];
    
        }

        .box{
            @apply mt-16 lg:my-16;
        }

    }

}