@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .home-banner{
        @apply h-[500px] overflow-hidden;
    }

    .home-banner video{
        @apply absolute top-0 left-0 h-full w-full z-[1] object-cover;
    }

    .home-banner .banner-box{
        @apply relative flex h-full z-[999] top-[20%] sm:top-[25%] md:top-[20%];
    }

    .home-banner .banner-box .inner-content{
        @apply w-[100%] lg:w-[63%];
    }

    .home-banner .banner-box .inner-content h1{
        @apply text-[30px] sm:text-[36px] md:text-[50px] lg:text-[60px] xl:text-[70px] font-[400] text-[var(--primary-white)];
    }

    .home-banner .banner-box .inner-content h1 span {
        @apply text-[var(--primary-blue)];
    }

    .home-banner .banner-box .inner-content p {
        @apply text-white;
    }

    /* --- */

    .info-box{
        @apply flex items-center p-[30px] md:p-[80px] relative bg-gray-200 min-h-[200px] md:h-[630px]
        lg:bg-[url('/assets/home/info-banner.png')];
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -100px;
        z-index: 99999;
        border-radius: 25px;
    }

    .info-box .box{
        @apply w-full lg:w-[50%];
    }

    .info-box .box h2{
        color: var(--primary-gray);
    }

    .info-box .box h1{
        color: var(--primary-dark-blue);
    }

    .info-box .box p{
        @apply mb-5;
    }

    /* --- */

    .brand-metrics{
        @apply flex justify-center items-center py-16;
    }

    .brand-metrics .box{
        @apply w-full;
    }

    .brand-metrics .box h1{
        @apply text-center mt-4 mb-4 text-[var(--primary-dark-blue)];
    }

    .brand-metrics .box .list{
        @apply lg:flex justify-between p-2;
    }

    .brand-metrics .box .list li{
        @apply w-[50%] md:w-[33.33%] lg:w-[16.66%] float-left;
    }

    .brand-metrics .box .list li .dots{
        @apply text-center;
    }

    .brand-metrics .box .list li .dots .imagethmb_inner{
        @apply h-[130px] text-center;
    }
    
    .brand-metrics .box .list li .dots span{
        @apply font-raleway text-[16px] text-[var(--text-black)];
    }

    /* --- */

    .solutions{
        @apply w-full py-16;
    }

    .solutions .solutions-list{
        @apply lg:flex p-0 m-0 overflow-hidden justify-between;
    }

    .solutions .solutions-list li{
        @apply w-[100%] lg:w-[32.33%] p-0 mb-4 lg:mb-0;
    }

    .solutions .solutions-list li .box{
        @apply rounded-lg p-8 lg:pb-16;
    }

    .solutions .solutions-list li .box h2{
        @apply text-[var(--primary-white)] text-[50px] lg:text-[46px] lg:mt-10 mb-4;
    }

    .solutions .solutions-list li .box p {
        @apply text-[var(--primary-white)] mb-10 lg:min-h-20;
    }

    /* --- */

    .targeting{
        @apply py-16;
    }

    .targeting h1{
        @apply text-[var(--primary-dark-blue)] text-center;
    }

    .targeting .sub-header{
        @apply 
            inline-block
            py-3
            px-6
            rounded-[20px]
            text-[var(--text-black)] 
            text-[22px] text-center 
            text-[var(--primary-dark-blue)] 
            bg-[var(--light-background)];

    }

    .targeting .box{
        @apply mt-16 lg:my-16;
    }

}