@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .banner-image{
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .inner-banner{
        @apply flex items-center h-[150px] md:h-[200px] lg:h-[300px];
    }

    .inner-banner h1{
        @apply text-[var(--primary-white)] text-[30px] md:text-[50px] lg:text-[70px];
    }

}